body{
    background-color: #000726;
    color:#F5F5F5
}
#forms {
    display: block;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6,40px);
    grid-template-columns: repeat(4,125px);
    border: 1px solid black;
    position: relative;
    background-color: rgb(78, 75, 75);
    width: 500px;
    padding: 3%;
    border-width: 3px;
    border-style:solid;
}

.title_centered {
    text-align: center;
}


.container_membres {
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6,40px);
    grid-template-columns: repeat(4,125px);
    border: 1px solid black;
    position: relative;
}

input {
    display: block;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6,40px);
    grid-template-columns: repeat(4,125px);
    border: 1px solid black;
    position: relative;
}
.container_membres img {
    width: 250px;
    height: 160px;
}
input {
    display: block;
    margin: auto;
    width: 500px;
    height: 50px;
}

button {
    text-align: center;
    position: relative;
    background-color: rgb(1, 0, 31);
    color: beige;
}
.cell {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: rgb(1, 0, 31);
    color: beige;
}
.cell:hover {
    color:rgb(209, 23, 23);
    border-color: azure;
}
.image_hover {
    display: none;
    position: absolute;
    top:40px ;
    left: 125px;
}
.navbar { display: flex;
            justify-content: flex-end;
            justify-content: space-between;
            background-image: linear-gradient(to right top, #ffffff, #f3d0f7, #ff97cc, #ff557e, #eb1212);
            align-items: center;
            margin-bottom: 30px;
            padding: 10px 30px;
            /* width: 500px; */
} 
.navbar .logo { color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            letter-spacing: 2px;
}
.navbar ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
}

.navbar ul li { margin-left: 20px;
}

.navbar ul li a {color: rgb(0, 94, 177);   
}

.navbar ul li a:hover {
            color: aqua;
}
.blason {
    width: 1080px;
    margin: auto;
}
.landing {
    display: grid;
    grid-template-columns: auto 1080px auto;
    grid-template-rows: auto auto;
}
#remi:hover ~ #remiimg {
    display: block;
}
#remi:hover ~ #remiimg {
    display: block;
}
#pierre:hover ~ #pierreimg {
    display: block;
}
#denis:hover ~ #denisimg {
    display: block;
}
#anthony:hover ~ #anthonyimg {
    display: block;
}
#kathy:hover ~ #kathyimg {
    display: block;
}
#ange:hover ~ #angeimg {
    display: block;
}
#guigui:hover ~ #guiguiimg {
    display: block;
}
#sylvere:hover ~ #sylvereimg {
    display: block;
}
#napoleon:hover ~ #napoleonimg {
    display: block;
}
#eddy:hover ~ #eddyimg {
    display: block;
}
#william:hover ~ #williamimg {
    display: block;
}
#quentin:hover ~ #quentinimg {
    display: block;
}
#jimmy:hover ~ #jimmyimg {
    display: block;
}
#antoine:hover ~ #antoineimg {
    display: block;
}
#benoit:hover ~ #benoitimg {
    display: block;
}
#bob:hover ~ #bobimg {
    display: block;
}
#blason {
    width: 1080px;
}